<h3>Search Instructions</h3>
<p>In this database, there are two types of records, which are differentiated in the Type facet, under Limit your Search</p>
<ul>
  <li><b>Images</b> scanned from Amy Meyers’ research collection of over 800 photographs of natural history illustrations and related materials.</li>
  <li><b>Texts</b> associated with the images, transcribed from Meyers’ notes on the original objects that were photographed and scanned, as well as the historic and modern taxonomic names of the flora and fauna depicted in the images, along with the common names. The database also contains many texts transcribed from Meyer’s notes on objects that were not photographed. These can be retrieved, as well, but no images will be associated with them.  Text records are linked to corresponding image records when they are available.</li>
</ul>

<a href="/">Back to home</a>