<style type="text/css" media="print">
  .printbutton {
    visibility: hidden;
    display: none;
  }
</style>
<input type='button' onClick='window.print()' class='printbutton' value='Print This Page'/>
&nbsp;
<input type='button' onClick="location.href='/catalog/<%= @scanid %>'" class='printbutton' value='Go back'/>
<!--<button onclick="window.print();return false;">Value</button>-->
<%= headers_for_print(@scanid) %>
<%= print_images(@scanid) %>
<%= @entries %>