<div>
  <p><a style="float: right; font-size: 20px;" href="print/instructions">Search Instructions</a></p></br>
  <p>
    <h3>
      <i>Knowing Nature: A Relational Database of Photographs of Eighteenth- and Early Nineteenth-Century Drawings and Prints of North American Flora and Fauna, and Associated Materials, from Repositories in the United States, the United Kingdom, and France</i>
    </h3>
    <img style="float: right;" src="http://10.5.96.214:3000/assets/scans/image-0002-00.jpg" alt="Thumbnail description"  width="200" height="200">
  </p>
  <p>Knowing Nature is a relational database of images scanned from Amy Meyers’ research collection of over 800 photographs of selected drawings and prints of North American flora, fauna, and other natural productions from various repositories in the United States, United Kingdom, and France. Photographs of associated materials, such as botanical and zoological specimens, copper plates, paintings, and decorative arts objects can be accessed, as well. Works by naturalist-artists and printmakers, from the early eighteenth century through the mid-nineteenth, are represented in the database, including such well-known practitioners as Mark Catesby (1683-1749), Georg Dionysius Ehret (1708-1770), Jane Colden (1724-1766), William Bartram (1739-1823), Charles Willson Peale (1741-1827), Alexander Wilson (1766-1813), Benjamin Smith Barton (1766-1815), Alexander Lawson (1773-1846), Frederick Traugott Pursh (1774-1820), Charles Alexandre Lesueur (1778-1846), Thomas Say (1787-1834), Constantine Rafinesque (1783-1840), John James Audubon (1785-1851), Lucy Say (1800-1886), and Titian Ramsay Peale II (1794-1885).</p>
</div>