<div>
<h3>Welcome to Bartram Search!</h3>
<p>In this interface there are two types of documents: "scan" which represent images from the collection and documents of type "object" which are sections extracted from notebook entries describing specific objects.</p>
<p>The facet "Scan Available" breaks the type "object" documents into two groups depending on whether there are associated scans for the object</p>
<p>"Scan" documents include corresponding notebook entries where applicable. "Object" documents with scans are linked through the object metadata.</p>
</div>