<div>
<h3>Welcome to Bartram Search!</h3>
<p>In this interface there are two types of documents: "scan" which represent images from the collection and documents of type "object" which are sections extracted from notebook entries describing specific objects.  These are differentiated by the first "Type" facet</p>
<p>If you have a term you know you want to search on enter it in the "Search..." box</p>
<p>If you would like to more broadly browse use the 2nd, 3rd, 4th facets, "Subject", "Author" and "Scientific Name" respectively.  Note "Subject" and "Author" are scans only.</p>
<p>Similarly the 5th facet "Location" is also available.</p>
<p>The facet "Scan Available" breaks the type "object" documents into two groups depending on whether there are associated scans for the object.</p>
<p>"Notebook" breaks down the objects into their 8 notebooks and "Notebook Header" consists of a description of the notebook entry in which the object description was found.</p>
<p>Click on the object and scan hits for further detail.  "Scan" documents have an image available for zoom and include corresponding notebook entries where applicable. Alternatively "Object" documents are linked back to corresponding scans where available.</p>

</div>