.document-thumbnail {
  max-width: 400px;
  max-height:400px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 1rem;
}

.document-thumbnail.placeholder {
  opacity: 0.4;
  filter: grayscale(100%);
}